/**
  |============================
  | include css partials with
  | default @import url()
  |============================
  */

/* Підключаємо стилі бібліотек */
@import 'izitoast/dist/css/iziToast.min.css';
@import 'simplelightbox/dist/simple-lightbox.min.css';

/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

.search-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  margin-bottom: 36px;
  width: 371px;
  height: 40px;
}

.search-input {
  border-radius: 4px;
  border: width 1px;
  width: 245px;
  height: 24px;
  background-color: #ffffff;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 16px;
  margin-right: 8px;
}

.search-btn {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center; /* Центруємо картки по горизонталі */
  margin: 0 auto; /* Додаємо автоматичні відступи для вирівнювання */
}

.gallery-card {
  /* width: calc((100% - 48px) / 3); */
  width: 360px; /* Ширина картки */
  border: 1px solid #ddd; /* Рамка для візуалізації */
  border-radius: 8px; /* Закруглені кути */

  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gallery-link {
  display: flex;
  flex-direction: column; /* Вертикальне розташування елементів */
  width: 100%;
  position: relative; /* Відносне позиціонування для коректного вирівнювання */
}

.gallery-img {
  width: 100%; /* Зображення займає всю ширину картки */
  object-fit: cover; /* Обрізаємо зображення, зберігаючи пропорції */
  height: 152px;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  padding: 4px 16px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.info-item {
  text-align: center;
  font-size: 12px;
  color: #333;
}

.info-item p {
  margin: 0;
  font-weight: bold;
}

.info-item span {
  display: block;
  margin-top: 4px;
  font-size: 12px;
  color: #666;
}

/* Стилізація лоудера */
.loader {
  border: 8px solid #f3f3f3; /* Світло-сірий колір */
  border-top: 8px solid #3498db; /* Синій колір */
  border-radius: 50%; /* Коло */
  width: 50px; /* Ширина */
  height: 50px; /* Висота */
  animation: spin 1s linear infinite; /* Анімація обертання */
  margin: 20px auto; /* Центрування */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
